.css-1pcexqc-container .css-bg1rzq-control, .css-1pcexqc-container .css-1szy77t-control{
    border-radius: 36px;
    padding: 10px 0;
}
.css-1pcexqc-container .css-1ajl57w-control, .css-1pcexqc-container .css-juf2xh-control{
    border-radius: 36px;
    padding: 10px 0;
}
.form-group #exampleInputTextarea {
    resize: none
}
